# See: https://packaging.python.org/guides/supporting-windows-using-appveyor/
environment:
  matrix:
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python35-x64"

# See: https://help.appveyor.com/discussions/problems/12705-custom-build-script-script-mode
build: off

install:
  - "%PYTHON%\\python.exe -m pip install tox"

test_script:
  - "%PYTHON%\\python.exe -m tox -e py"
