sudo: false
cache: pip

language: python

python:
    - "3.3"
    - "3.4"
    - "3.5"
env:
    - TOXENV=manifest
    - TOXENV=docs

matrix:
    include:
        - python: "3.3"
          env: TOXENV=py33
        - python: "3.4"
          env: TOXENV=py34
        - python: "3.5"
          env: TOXENV=py35

before_install:
    - pip install codecov

install:
    - pip install tox

script:
    - coverage run -m pytest tests

after_success:
    - tox -e coverage-report
    - codecov

notifications:
  slack: pybel:n2KbWKBum3musnBg3L76gGwq
