graft src
graft tests

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs Makefile

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store

exclude .bumpversion.cfg
include *.rst *.txt LICENSE tox.ini .travis.yml docs/Makefile .coveragerc .codecov.yml .codeclimate.yml

recursive-include notebooks *.ipynb
global-exclude notebooks/.ipynb_checkpoints/*
global-exclude docs/*

exclude artwork
global-exclude artwork/*
