graft src
graft tests

include *.rst
include LICENSE

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store

include *.txt
include tox.ini
exclude .codecov.yml .bumpversion.cfg .coveragerc .codeclimate.yml

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include notebooks *.ipynb

global-exclude notebooks/.ipynb_checkpoints/*
global-exclude docs/*

exclude legacy
recursive-exclude legacy *.py
