# This requirements file does not contain the extras

networkx>=2.1
sqlalchemy
click
click-plugins
requests
requests_file
pyparsing
six
tqdm

# for automatically generating CLI documentation. See: https://github.com/click-contrib/sphinx-click
sphinx-click
